<form>
	<div class="form-group">
		<label for="exampleInputEmail1">Nginx config file path</label>
	    <input type="configPath" class="form-control" id="configPath" aria-describedby="emailHelp" placeholder="Enter config file path" value="/etc/nginx/conf" >
	    <small id="emailHelp" class="form-text text-muted">nigix config file path, we use this file to locate log setting.</small>
	</div>
</form>